html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body p {
    font-weight: 500;
}
header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    color: white;
    height: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.5)), to(rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,.5), rgba(0,0,0,0));
    background: -o-linear-gradient(top, rgba(0,0,0,.5), rgba(0,0,0,0));
    background: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,0));
}
header:after {
    content: "";
    display: block;
    margin-left: 58px;
    margin-top: -3px;
    width: 50%;
    border-bottom: solid 1px white;
}
.header {
    color: white;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    height: 80px;
    background: none;
    background-color: #2c2f33;
}
.header:after {
    border-bottom: solid 1px #2c2f33;
}
nav {
    margin: 0;
    vertical-align: middle;
    line-height: 100px;
    position: relative;
}
.nav {
    line-height: 80px;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    padding-left: 40px;
    cursor: pointer;
}
nav .icon {
    display: none;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 25px;
}
main {
    max-width: 100%;
}
.about, .projects, .team, .contact {
    padding: 30px 20px;
    overflow: hidden;
    border-bottom: solid 1px #c4c4c4;
}
.partners {
    padding: 30px 0;
    overflow: hidden;
    border-bottom: solid 1px #c4c4c4;
}
main h1 {
    font-weight: 600;
    font-size: 3.5rem;
    margin: 80px 0;
    text-align: center;
    color: #353638;
    background-color: rgba(255, 255, 255, 0.3);
}
.container-top {
    padding-top: 100px;
    position: absolute;
    top: 0;
    width: 100%;
}
.btn-main {
    background-color: #2c2f33;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 16px 40px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 30px;
    margin: 0 auto;
    display: block;
    width: 135px;
    text-align: center;
    cursor: pointer;
}
main h2 {
    margin-top: 0;
    text-align: center;
    font-weight: 600;
    background-color: rgba(245, 245, 245, .7);
}
.team-pic {
    display: block;
    text-align: center;
}
.team-pic-1, .team-pic-2, .team-pic-3 {
    width: 33.33%;
    height: 300px;
    float: left;
    padding-bottom: 30px;
}
.team-pic img {
    width: 100%;
    height: 80%;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-filter: blur(6px);
    filter: blur(6px);
}
.partner-logo {
    display: inline-block;
    background-color: grey;
    width: 100%;
}
.partner-logo img {
    width: 200px;
    padding: 10px;
    margin: 50px 20px;
    background-color: white;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.container-first {
    max-width: 980px;
    height: 200px;
    margin: 70px auto 0 auto;
    text-align: center;
}
.col-1, .col-2, .col-3 {
    text-align: center;
    height: 150px;
    width: 33.33%;
    float: left;
}
.container-first p {
    font-size: 14px;
    line-height: 20px;
    padding: 0 20px;
    margin-bottom: 20px;
}
.container-first i {
    font-size: 2em;
}
iframe {
    width: 100%;
    height: 300px;
}
footer {
    background-color: #2c2f33;
    color: #fff;
    width: 100%;
    height: auto;
}
.footer {
    display: block;
    height: 100px;
    line-height: 100px;
}
footer p {
    font-size: 11px;
    padding-left: 30px;
    margin: 0;
}
footer h5 {
    padding-left: 30px;
    margin: 10px 0;
}
.credits {
    padding-top: 20px;
    height: 200px;
}
.credits-1, .credits-2, .credits-3 {
    display: block;
    float: left;
}
footer .copyright {
    float: left;
}
footer .socials {
    font-size: 25px;
    float: right;
    padding-right: 150px;
}
 a[href^=tel] {
    text-decoration:inherit;
    color: inherit;
  }

@media only screen and (max-width: 800px) {
    .credits {
        height: 250px;
    }
}
@media only screen and (max-width: 600px) {
    main h1 {
        font-size: 3rem;
        padding: 15px 40px;
    }
    header {
        height: 80px;
        background: none;
        border-bottom: solid 1px white;
    }
    header:after {
        padding-top: 20px;
        -webkit-transition: 0.7s ease;
        -o-transition: 0.7s ease;
        transition: 0.7s ease;
    }
    .header-mobile {
        background-color: white;
        color: #2c2f33;
        border-bottom: solid 1px #2c2f33;
    }
    .header-mobile:after {
        margin-left: -1000px;
        -webkit-transition: 0.7s ease;
        -o-transition: 0.7s ease;
        transition: 0.7s ease;
    }
    nav {
        line-height: 80px;
    }
    .nav-mobile li {
        display: block;
        -webkit-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
    }
    .nav-mobile li:not(:first-child) {
        color: white;
        margin-left: -1000px;
        height: 0px;
    }
    .nav-mobile.responsive li {
        color: white;
        background-color: #2c2f33;
        display: block;
        border-bottom: solid 1px white;
        height: 80px;
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;
        margin-left: 0;
    }
    .nav-mobile .icon {
        display: block;
        line-height: 80px;
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav-mobile.responsive .icon {
        color: white;
    }
    .team-pic-1, .team-pic-2, .team-pic-3 {
        width: 100%;
        height: 300px;
        float: none;
        margin-bottom: 15px;
    }
    .partner-logo {
        text-align: center;
    }
    .partner-logo img {
        width: 180px;
        margin: 20px 20px;
    }
    .container .col {
        width: 100%;
    }
    iframe {
        height: auto;
    }
    .footer {
        height: 80px;
        line-height: 80px;
    }
    .credits {
        height: 300px;
    }
    footer .socials {
        padding-right: 75px;
    }
}

@media only screen and (max-width: 480px) {
    main h1 {
        font-size: 2rem;
    }
    .container-first {
        height: auto;
        margin-top: 35px;
     }
    .col-1, .col-2, .col-3 {
        display: block;
        width: 100%;
        height: 120px;
    }
    .credits {
        height: 400px;
    }
}
